*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

  .cnct-img-div{
    position: relative;
    top:5em;
    background-size: cover;
    width: 1349px;
    height: 800px;
    background-image: url("https://media.istockphoto.com/id/1346659934/photo/top-view-modern-workspace-with-laptop-computer-and-coffee-cup-on-black-table.jpg?s=612x612&w=0&k=20&c=ILYNXg-gwP_p2HMVQg_oT7AHn1pHCRFGNb597UruGaQ=");
   /* z-index: -1; */
  }
  .cntct-img {
    width: 1349px;
    height: 400px;
  }
  .contact-text{
  
    position: absolute;
    top: 3em;
    left: 14em;
    font-size: 28px;
    color:#f7f7fb;
    width: 500px;
    height: 200px;
  }
  .background{
    position: relative;
   
    padding-left: 30px;
    top:-320px;
    background: #ff5310;
  }
  button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    height: 600px;
  }
  
  .container {
    /* display: flex;
    flex-direction: row; */
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  .cntct-lft{
    /* background: #666; */
    position: relative;
    height: 400px;
    width: 600px;
    right: 25em;
    top: 15px;
  }
  .lft-header{
    font-size: 40px;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-weight: 600;
    padding: 12px 0 0 ;
  }
  .lft-cntct-content{
    position: relative;
    width: 376px;
    height: 150px;
    left:125px;
    top:15px;
  }
  .cntct-h6A{
    font-size: 34px;
   font-weight: 600;
   justify-content: center;
   text-align: center;
  
   margin-top: 2px;
  }
  .cntct-h6B{
    /* background-color: #140B5C; */
    font-size: 24px;
    font-weight: 300;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin-top: 16px;
  
    line-height: 8px;
  }
  .cntct-h6C{
    font-size: 28px;
   font-weight: 400;
   margin-top: 25px;
   margin-left:65px;
    line-height:3px ;
  }
  .lft-cntct-add{
    font-size: 34px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
position: relative;

top: 45px;
  }
  .cntct-h6D{
    font-size: 24px;
   font-weight: 400;
   margin-top: 5px;
   display: flex;
   margin-left: 210px;
   justify-content: center;
   text-align: center;
   width: 180px;
  }
  .query-div{
    font-size: 28px;
position: relative;
margin-left: 250px;
top:90px;
  }
  .screen {
    position: relative;
    top: -370px;
    left: 18em;
    background:#00008B;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background:  #140B5C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background:#ff5310;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    white-space: nowrap;
    color:#ff5310;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background:#ff5310;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color:#ff5310;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #ff5310;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -320px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  .map-container{
    position: absolute;
    top:1090px;
    margin-left: 195px;
    width: 70%;
    height: 400px;
   
  }
  .map-iframe{
    position: relative;
    height: 300px;
    width:100%;
  }
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  