

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-1 {
  background-image: url(../images/img4.jpg);
  /* background-image: url('https://cdn.pixabay.com/photo/2017/09/26/04/28/classroom-2787754_960_720.jpg'); */
position: relative;
z-index: -1;
 width: 100%;
  height: 100vh;
  background-position-x: right; 
}

.bg-2 {
 background-image: url(../images/img18.jpg);
  /* background-image: url('https://media.gettyimages.com/id/1339496621/vector/student.jpg?s=612x612&w=0&k=20&c=j3j0pP55PG3J4ytbjXSDwkTMB-X5ZwbdXwLGqCATFH4='); */
position: relative;
z-index: -1;
width: 100%;
  height: 600px;
  background-position-y: top; 
}

.bg-3 {
background-image: url(../images/img1.jpg);
  /* background-image: url('https://media.gettyimages.com/id/647259908/photo/international-school-of-design-rubika-for-industrial-design-supinfocom-rubika-institute-for-3d.jpg?s=612x612&w=0&k=20&c=AtbylT5fnBY5aJBgjy23IaTCYSORPb4xjrrl3XfUhdk='); */
  width: 100%;
  height: 100vh;
  background-position-x: right; 
}

.bg-4 {
 background-image: url(../images/img3.jpg);
  /* background-image: url('https://media.gettyimages.com/id/821679458/photo/students-sit-inside-a-classroom-of-government-law-college-in-mumbai-on-friday.jpg?s=612x612&w=0&k=20&c=G_9n808ay6xkWfrCyXEG6ittvVnGjQdYjtlX-PL9ZdY='); */
  width: 100%;
  height: 600px;
  
  background-position-y: top; 
}
#h1{
  position: relative;
  left:6em;
  top:122px;
  color:#ff5310;
}
#h3{

  position: relative;
  left:15em;
  top:145px;
 
  font-weight: 500;
  font-size: 1em;
}
#pg{
  position: relative;
  left: 24em;
  top: 160px;
  width: 1500px;
  height: 186px;
  line-height: 28px;
 
  font-weight: 100;
  font-size: 0.7em;
}

#p1{
  position: relative;
  left: 18em;
  top: 0px;
  width: 1500px;
  height: 186px;
  line-height: 28px;
  
  font-weight: 100;
  font-size: 0.7em;
}

